<%#encoding:UTF-8%><<%= attr :name %><%= @id && %( id="#{@id}") %>>
<%= title? ? %(<title>#{@title}</title>) : %(<title>TITLE NEEDED</title>) %>
<%= blocks? ? content.chomp : "<para>#{content.chomp}</para>" %>
</<%= attr :name %>>