<%#encoding:UTF-8%><%
unless attr? 'skip' %><calloutlist<%= @id && %( id="#@id") %>><%= title? ? %(
<title>#{title}</title>) : nil %><%
  content.each do |li| %>
<callout arearefs="<%= "#{li.attr('coids')}#{if @attributes["callout_aliases"] then " "+ @attributes["callout_aliases"].split(" ")[index] end}"%>">
<para><%= li.text %></para><%
    if li.blocks? %>
<%= li.content %><%
    end %>
</callout><%
  end %>
</calloutlist>
<%
    idx = @parent.blocks.index(self)
prev_block = @parent.blocks[idx - 1]
if prev_block.context == :listing && !prev_block.title? 
    %></informalexample><% 
elsif prev_block.context == :listing && prev_block.title? 
%></example>
<% end %><%
end %>
