<%#encoding:UTF-8%><% if !title? %>
<informalexample annotations="below">
<programlisting xml:space="preserve"><%= content %></programlisting>
</informalexample><% else %>
<example<%= @id && %( id="#{@id}") %> annotations="below">
<title><%= title %></title>
<programlisting xml:space="preserve"><%= content %></programlisting><%
    idx = @parent.blocks.index(self)
    next_block = @parent.blocks[idx + 1]
    if !next_block.nil? && next_block.context == :colist %>
<%= next_block.render.chomp %><%
      # mark block as skipped so it doesn't get rendered again
      next_block.attributes['skip'] = ''
    end %>
</example><%
end %>
