<%#encoding:UTF-8%>
<% if role == "remark" %><remark><%= content.chomp %></remark>
<% else %>
<<%= attr :name %><%= @id && %( id="#{@id}") %>>
<%= title? ? %(<title>#{@title}</title>) : %(<title>TITLE NEEDED</title>) %>
<%= blocks? ? content.chomp : "<para>#{content.chomp}</para>" %>
</<%= attr :name %>><% end %>